{% extends 'base.html' %}

{% block h1_title %}
{{object.title}}
{% endblock %}

{% block content %}
<object 
  class="pdf__viewer" 
  data="{{MEDIA_URL}}{{object.refid}}/service_edited/{{object.refid}}.pdf"
  type="application/pdf">
</object>

<h2 class="mt-20 mb-0">Additional Description</h2>
<dl class="list--unstyled">
  <dt>Ref ID:</dt>
  <dd>{{object.refid}}</dd>
  <dt>Collection:</dt>
  <dd>{{object.resource_title}}</dd>
</dl>
<a class="btn btn--sm btn--white mb-20" href="{{object.archivesspace_link}}">View in ArchivesSpace</a>
<a class="btn btn--sm btn--white mb-20" href="{% url 'refresh-data' %}?object_list={{object.pk}}">Refresh ArchivesSpace Data</a>

<h2 class="mb-0">Package Structure</h2>
<pre class="mt-0">{{object.tree}}</pre>

<h2 class="mt-20 mb-0">Assign Rights</h2>
{% for statement in rights_statements %}
  <div class="input-group">
    <input
      type="checkbox"
      class="checkbox--rights"
      id={{statement.aquila_id}}
      name="{{statement.title}}"
    />
    <label for={{statement.aquila_id}} class="checkbox--blue">{{statement.title}}</label>
  </div>
{% endfor %}

<div id="error-message" class="input__error" style="display:none"></div>

{% if object.undated_object  %}
<p class="text--orange">This package may be associated with an object in ArchivesSpace that does not have structured dates.</p>
{% endif %}

{% if object.already_digitized  %}
<p class="text--orange">A digital object associated with this archival object already exists in ArchivesSpace.</p>
{% endif %}

<div class="mt-50">
  <button id="approve-button" type="submit" class="btn btn--lg btn--blue">Approve Item</button>
  <button type="cancel" class="btn btn--lg btn--orange" data-micromodal-trigger="modal__reject-single">Reject Item</button>
</div>
{% endblock %}

{% block modals %}
{% include 'modal_approve_single.html' %}
{% include 'modal_reject_single.html' %}
{% endblock %}