<footer role="contentinfo">
    <div class="footer-secondary">
        <div class="grid container">
            <ul class="footer-secondary__list">
                <li class="footer-secondary__list-item">
                    <a class="footer-secondary__link" href="http://aquila.rockarch.org/">Aquila</a>
                </li>
                <li class="footer-secondary__list-item">
                    <a class="footer-secondary__link" href="https://docs.rockarch.org/premis-rights-guidelines">PREMIS documentation</a>
                </li>
            </ul>
        </div>
    </div>
</footer>