{% load tags %}

<div id="modal__approve" class="modal__overlay" aria-hidden="true">
  <div data-micromodal-close>
    <div tabindex="-1" class="modal modal--small" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <div class="modal__header">
        <h2 id="modalTitle" class="modal__header-title">Approve Items</h2>
        <button class="modal__header-button" aria-label="Close" data-micromodal-close>
          <span class="material-icon" aria-hidden="true">close</span>
        </button>
      </div>
      <div class="modal__body">
        <p>Are you sure you want to approve these items and their associated rights statements?</p>
        <form id="approve_form" action="{% url 'package-approve' %}?object_list={{object_list|id_list}}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn--sm btn--blue">Approve</button>
        </form>
        <button type="cancel" class="btn btn--sm btn--orange" data-micromodal-close>Cancel</button>
      </div>
    </div>
  </div>
</div>
