{% load static %}

<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="{% static 'js/dataTables.min.js' %}"></script>
<script src="{% static 'js/modals.js' %}"></script>
<script src="{% static 'js/list_select.js' %}"></script>
<script src="{% static 'js/handle_rights_select.js' %}"></script>
<script src="{% static 'js/select_toggle.js' %}"></script>

<script type="text/javascript" charset="utf8" src="{% static 'js/datatableview.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        new DataTable('#package-list', {
            ajax: "{% url 'package-list-datatable' %}",
            processing: true,
            serverSide: true,
			fixedHeader: true,
        })
        
        new DataTable('#pending-package-list', {
            ajax: "{% url 'pending-package-list-datatable' %}",
            processing: true,
            serverSide: true,
			fixedHeader: true,
        })
    })

</script>
